@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
/*inicio navegador*/
.barraNav {
    background-color: #20619e;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top:0;
    z-index: 100;
}
.barraNav__menu{
    display: none;
}
.imagenNav {
    width: 100px;
}
.barraNav ul{
    margin: 0px 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.barraNav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:30px;
    padding: 0px 20px;
    transition: 0.4s;
}
.barraNav ul li a:hover{
    color: #f15416c5;  
    text-shadow: none;

}
.barraNav__inicio, .barraNav__alquileres, .barraNav__nosotros, .barraNav__contacto {
    color: #f15516 !important; 
}
/*fin navegador*/

/*inicio boton flotante whatsapp*/
.botonFlotante{
    position: fixed;
    width: 80px;
    height:80px;
    line-height: 80px;
    background-color: #0df053;
    color: white;
    bottom: 30px;
    right:40px;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px black;
    z-index: 100;
}
.botonFlotante:hover{
    background-color:white;
    color:#0df053;
}
/*fin boton flotante whatsapp*/

/*INICIO INDEX*/
/*inicio portada index*/
.portadaInicio {
    width: 100%;
    height: 500px;
    background-image: url(../multimedia/img/nadie-sala-silla-ruedas-muletas-ayudar-transporte-espacio-vacio-equipo-apoyo-marcha-dar-ayuda-personas-discapacidad-cronica-movilidad-fisica.jpg);
    background-size: cover;
    margin-top:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portadaInicio h1 {
color: white;
font-size: 80px;
font-weight: bold;
text-align: center;
text-shadow: 2px 2px 2px #000000;
}
/*fin portada index*/

/*inicio parrafo index*/
.inicioParrafo{
    margin:30px 10pxgi;
    padding: 20px 0px 20px 25px;
    font-size: 18px;
    line-height: 40px;
}
.parrafoPalabraPrincipal{
    color: #f15516;
    font-weight: bold;
}
/*fin parrafo index*/

/*inicio productos*/
.tituloProductos{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.tarjetas__productos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.tarjetaProductos {
    width:200px;
    border: groove 4px #419ef5;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 15px;
    margin: 10px 15px;
    transition: 0.2s;
}
.tarjetaProductos:hover{
    background-color: #413f3f49 ;
}
.tarjetaProductos h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}
.tarjetaProductos img{
    width: 100%;
    height: 160px;
    padding: 5px;
}
.tarjetaProductos button{
    background-color: #f15516;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.4s;
}
.tarjetaProductos button:hover{
    color: black;
    background-color: #f13716;
}
/*fin productos*/

/*inicio novedades*/
.divNovedades {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.emailNovedades{
    width: 600px;
    text-align: center;
    border: solid 1px #419ef5;
    border-radius: 5px;
    height: 35px;
    margin: 25px 5px 30px 0px;
    padding:5px;
    outline: none;
}
.emailNovedades:hover{
    border: 1px solid #f13716;
}
.botonEmailNovedades{
    background-color: #f15516;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: 0.4s;
    cursor:pointer
}
.botonEmailNovedades:hover{
    color: black;
    background-color: #f13716;
}
/*fin novedades*/

/*inicio footer*/
.footer{
    background-color: #20619e;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 30px;
    align-items: center;
}
.logoFooter {
    width: 100px;
}
.textoFooter {
margin:10px;
color: aliceblue;
}
.descripcion {
    padding: 0px 30px;
}
.descripcion img{ 
    float:left;
    width:90px;
    height:60px;
}
.textoFooter h4{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.contactenos{
    align-self: start;
}
.contactenos span{
    display: grid;
    justify-content: center;
    grid-template-rows: 10px 10px 10px 10px;
}
.contactenos h4{
    justify-self: start;
}
.redes{
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.redesLogos i{
   
    font-size: 50px;
    color: white;
    padding: 25px;
}
.redesLogos i:hover{
    color: #f15516;
}
/*fin footer*/
/*FIN INDEX*/

/*INICIO ALQUILERES*/
/*inicio portada alquileres*/
.barraNav__alquileres {
    color: #f15516 !important;
}
.portadaAlquileres {
    width: 100%;
    height: 500px;
    background-image: url(../multimedia/img/mujer-tiro-completo-hombre-discapacitado-viajando.jpg);
    background-size: cover;
    margin-top:75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portadaAlquileres h1 {
    font-size: 80px;
    color: white;
    text-align: justify;
    margin-left:15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}
/*fin portada alquileres*/

/*inicio tarjeta alquileres*/

.tarjetaAlquileres{
    width:768px;
    border: 4px groove #419ef5;
    padding:20px;
    margin: 50px 60px;
    border-radius: 10px;
}
.tarjetaAlquileres:hover{
    background-color: #413f3f49 ;
}
.tarjetaAlquileres__titulo{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.tarjetaAlquileres__lista{
    display:flex;
    flex-direction: column;
    text-align: start;
    list-style: inside ;
    padding: 20px;
    font-size: 18px;
}
/*fin tarjeta alquileres*/

/*inicio carrousel*/
.divCarrousel{
    margin-bottom: 40px;
}
.divCarrousel__titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px;
}
.carrousel img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.carrousel h5{
    font-size: 40px;
    text-shadow: 2px 2px 2px #000000;
}
.carrousel p{
    font-size: 25px;
    text-shadow: 2px 2px 2px #000000;
}
/*fin carrousel*/
/*FIN ALQUILERES*/

/*INICIO NOSOTROS*/
/*inicio portada nosotros*/
.barraNav__nosotros {
    color: #f15516 !important;
}
.portadaNosotros{
    width: 100%;
    height: 500px;
    background-image: url(../multimedia/img/persona-discapacitada-que-viaja-ciudad.jpg);
    background-size: cover;
    margin-top:75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.portadaNosotros h1{
    font-size: 80px;
    color: white;
    text-align: justify;
    margin-left:15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}
/*fin portada nosotros*/

/*inicio tarjeta nosotros*/

.tarjetaNosotros {
    width: 800px;
    font-size: 18px;
    border: 4px groove #419ef5;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 25px;
}
.tarjetaNosotros:hover{
    background-color: #413f3f49 ;
   
}
.tarjetaNosotros__titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}
.tarjetaNosotros__Parrafo {
    line-height: 35px;
}
.tarjetaNosotros__Punteo {
    list-style: inside;
    line-height: 35px;
}
.fotoCollage {
    width: 100%;
    margin:20px 0px;
}
/*fin tarjeta nosotros*/
/*FIN NOSOTROS*/

/*INICIO CONTACTO*/
/*inicio portada contacto*/
.barraNav__contacto {
    color: #f15516 !important;
}
.portadaContacto{
    width: 100%;
    height: 500px;
    background-image: url(../multimedia/img/mujer-joven-practicando-ejercicio-sesion-fisioterapia.jpg);
    background-size: cover;
    margin-top:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portadaContacto h1 {
    font-size: 80px;
    color: white;
    text-align: justify;
    margin-left:15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}
/*fin portada nosotros*/

/*inicio tarjeta datos contacto*/
.divTarjetasContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 20px 0px;
    justify-content: center;
}
.datosContacto{
    width: 550px;
    margin: 15px 0px;
    border: groove 4px #f13716;
    border-radius: 10px;
}
.datosContacto:hover{
    background-color: #413f3f49;
}
.datosContacto__titulo{
    font-weight: bold;
    font-size: 30px;
    padding:10px 0px;
    text-align: center;
}
.datosContacto ul li{
    padding: 20px 15px 20px 0px;
    list-style: inside;
    font-size: 18px;
}
.datosContacto span{
font-weight: bold;
}
.datosContacto iframe {
    margin:20px;
    border-radius: 10px;
    width: 500px;
    height: 300px;

}
/*fin tarjeta datos contacto*/

/*inicio formulario*/
.tarjetaConsulta {
    display: inline-block;
    border: groove 4px #419ef5;
    margin:15px 50px;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
}   
.tarjetaConsulta:hover{
    background-color: #413f3f49 ;
}
.tarjetaConsulta h2 {
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    font-weight: bold;
    font-size:18px;
    padding: 10px;
}
.inputContacto {
    border: none;
    background:none;
    border-bottom: 1px solid #f15516;
    padding:5px;
    cursor: pointer;
    width:90%;
    padding-top: 15px;    
}
.inputContacto:focus,.inputContacto:hover{
    outline:none;
    border-bottom:2px solid #fa0909;
}
.labinp__solo{
    grid-column: 1/3;
}
.inputMensaje{
    width: 95%;
}
.formulario__boton {
    background-color: #f15516;
    color: white;
    font-weight: bolder;
    height: 40px;
    padding: 3px 0px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 97%;
    transition: 0.4s;
}  
.formulario__boton:focus, .formulario__boton:hover{
    color: black;
    background-color: #f13716;
}
/*fin formulario*/
/*FIN CONTACTO*/

/*inicio media queries*/
@media(max-width:1200px) {
    .barraNav{
        position: static;
    }
    .portadaInicio, .portadaAlquileres, .portadaNosotros, .portadaContacto{
        margin-top:0px;
    }
    .tarjetas__productos{
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .redes{
        grid-column: 1/3;
        }
    .datosContacto{
        width:350px;  
    }
    .datosContacto iframe{
        width:90%;
        height: 300px;
    }
    .tarjetaConsulta{
        width: 350px;
    }
    .inputContacto{
        font-size: 14px;
    }
}
@media(max-width:992px) {
    .barraNav__menu{
        display: block;
        font-size: 50px;
        color: white;
        margin: 15px 20px;
    }
    .barraNav__menu:hover + ul{
        left:0px;

    }
    .barraNav ul{
        position: fixed;
        background-color: white;
        border-radius: 10px;
        width: 75vw;
        height: 100vh;
        top:0;
        margin: 0px;
        left: -1000px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.5s;
    }
    .barraNav ul:hover{
        left:0px;
    }
    .barraNav ul li a{
        color: black;

    }
    .portadaInicio, .portadaAlquileres, .portadaNosotros, .portadaContacto {
        height: 350px; 
    }
    .tarjetaAlquileres{
        width: 80%;
    }
    .carrousel img{
        height: 350px;
    }
    .tarjetaNosotros{
        width:80%;
    }
    .divTarjetasContacto{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .datosContacto{
        width:80%;
    }
    .datosContacto iframe {
        width: 90%;
    }
    .tarjetaConsulta {
        width: 80%;
    }
    .formulario{
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 20px;

    }
    .labinp__solo{
        grid-column: 1/1;
    }
    .inputContacto{
        width:90%;
    }
} 
@media(max-width:768px){
    .botonFlotante{
        width: 50px;
        height:50px;
        line-height: 50px;
        font-size: 35px;
       
    }
    .inicioParrafo{
        font-size: 14px;
        line-height: 20px;
    }
    .emailNovedades{
        width:300px;
        font-size: 14px;
    }
    .botonEmailNovedades{
        font-size: 14px;
        height: 38px;   
     }
    .textoFooter{
        grid-column: 1/3;
    }
    .tarjetaAlquileres__titulo{
        font-size: 20px;
    }
    .tarjetaAlquileres__lista{
        font-size: 14px;
    }
    .divCarrousel__titulo{
        font-size: 20px;
    }
    .tarjetaNosotros__titulo{
        font-size: 20px;
    }
    .tarjetaNosotros__Parrafo, .tarjetaNosotros__Punteo{
        font-size: 14px;
        list-style: disc;
    }
    }
@media(max-width:576px){
    .portadaInicio, .portadaAlquileres, .portadaNosotros, .portadaContacto {
        height: 250px; 
    }
    .portadaInicio h1, .portadaAlquileres h1, .portadaNosotros h1, .portadaContacto h1{
        font-size: 60px;
    }
    .tituloProductos{
        font-size: 20px;
    }
    .tarjetas__productos {
        grid-template-columns: 1fr;
    }
    .tarjetaProductos button{
        font-size: 14px;
    }
    .emailNovedades{
        width:250px;
        font-size: 12px;
    }
    .botonEmailNovedades{
        font-size: 12px;
        height: 36px;   
    }
    .tarjetaAlquileres__lista{
        padding:10px 0px;
    }
    .carrousel img{
        height: 250px;
    }
    .tarjetaNosotros{
        padding: 20px;
    }
    .tarjetaNosotros__Parrafo {
        line-height: 20px;
    }
    .tarjetaNosotros__Punteo{
        line-height: 20px;
    }
    .datosContacto__titulo{
        font-size: 20px;
    }
    .datosContacto ul li{
        font-size: 14px;
    }
    .tarjetaConsulta h2{
        font-size: 20px;
    }
    .formulario {
        font-size: 14px;
    }
    .formulario__boton{
        font-size: 16px;
    }
}
/*fin media queries*/



