$color: #f15516;
$color-hover: #f13716;
$bg-color: #20619e;
$bg-color-hover:#413f3f28;
$font-titulo: 30px;
$font-texto:16px;
$interlineado-parrafo: 40px;
$redes: (facebook:#1877f2,
         instagram:#d6249f,
         gmail:#f54236);