$color: #f15516;
$color-hover: #f13716;
$bg-color: #20619e;
$bg-color-hover:#413f3f28;
$font-titulo: 30px;
$font-texto:16px;
$text-shadow:2px 2px 2px #00000050;
$box-shadow:-10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.52) ;
$interlineado-parrafo: 35px;
