/*Email novedades*/

.divNovedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    .emailNovedades{
        width: 800px;
        text-align: center;
        font-size: 14px;
        border: solid 1px $bg-color;
        border-radius: 5px;
        height: 35px;
        margin: 25px 5px 30px 0px;
        padding:5px;
        outline: none;
        &:hover{
            border: 1px solid $color;
        }
        @media(max-width:992px){
            width:600px;
        }
        @media(max-width:768px){
            width:400px;
        }
        @media(max-width:576px){
            width:90vw;
            display: flex;
            margin:25px 0px 5px;
    }
    }
    .botonEmailNovedades{
        @include boton (14px,none,none,0px 5px,10px);
        @media(max-width:576px){
            width:90vw;
            margin: 0px;
            margin-bottom: 10px; 
        }
    }
}
   
    
    
    
    