.inicioParrafo{
    margin:30px;
    padding: 20px 0px 20px 25px;
    font-size: $font-texto;
    line-height: $interlineado-parrafo;
    @media(max-width:768px){
            line-height: 35px;
        }
    .parrafoPalabraPrincipal{
        color: $color;
        font-weight: bold;
    }
}
