/*Tarjeta formulario contacto*/

.tarjetaConsulta {
    display: inline-block;
    border: outline;
    box-shadow: $box-shadow;
    background: rgb(241,85,22);
    background: radial-gradient(circle, rgba(241, 84, 22, 0.623) 0%, rgba(65, 158, 245, 0.521) 100%);
    margin:15px 0px;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    &:hover{
        background-color: $bg-color-hover ;
    }
    @media(max-width:1200px){
        width: 40vw;
    }
    @media(max-width:992px){
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr;
    }
    h3 {
        color: black;
        font-weight: bolder;
        font-size: $font-titulo;
        text-align: center;
        margin-bottom: 25px;
        text-shadow: $text-shadow;
        
    }
    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        row-gap: 25px;
        font-weight: bold;
        font-size:$font-texto;
        padding: 10px;
        @media(max-width:992px){
            text-align: center;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        .formulario__labinp{
            label{
                padding: 0px 5px;
                @media (max-width: 992px){
                    padding: 0px 30px;
                }
            }
            .inputContacto {
                border: none;
                background:none;
                font-size:14px;
                text-align: justify;
                border-bottom: 1px solid #f15516;
                padding:5px;
                cursor: text;
                width:90%;
                padding-top: 15px;
                &:focus,&:hover {
                    outline:none;
                    border-bottom:2px solid #fa0909;
                }
                @media(max-width:992px){
                    width:90%;
                    text-align: center;
                }   
            }
        }
        .labinp__solo{
            grid-column: 1/3;
            @media(max-width:992px){
                grid-column: 1;
            }
            .inputMensaje{
                width: 95%;
            }
            .formulario__boton {
                @include boton (18px,40px,97%,20px 0px,3px 0px);
            }  
        }
    }
}   



