/*Imagen Nosotros*/
.div__fotosNosotros{
    width: 500px;
    margin: 50px 10px;
    @media (max-width: 1200px){
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    @media(max-width:768px){
        margin:50px 0px 19px 0px;
    }
    .fotoNosotros{
        @extend %img-varias;
        @media (max-width: 1200px){
            margin: 0px 0px 30px 0px;
            width: 300px;
        }
        @media(max-width:576px){
            height: 200px;
        }
    }
}



