/*Tarjeta "¿Quienes somos?" nosotros*/

.divTarjetaNosotros {
    margin: 0px;
    padding: 0px;
    @media (max-width: 1200px){
        flex-direction: column;
        align-items: center;
    }
    .tarjetaNosotros {
        width: 600px;
        border: outline;
        background: rgb(241,85,22);
        background: radial-gradient(circle, rgba(241, 84, 22, 0.623) 0%, rgba(65, 158, 245, 0.521) 100%);
        border-radius: 10px;
        font-size: 18px;
        padding: 30px;
        margin: 50px 30px 50px 10px;
        box-shadow: $box-shadow;
        &:hover{
            background-color: $bg-color-hover;
        }
        @media (max-width: 1200px){
            margin: 50px 0px;
            width:80%;
        }
        @media(max-width:576px){
            padding: 20px;
        }
        .tarjetaNosotros__titulo{
            font-size: $font-titulo;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
            text-shadow: $text-shadow;
        }
        .tarjetaNosotros__Parrafo {
            line-height: $interlineado-parrafo;
            font-size: $font-texto;
            @media(max-width:576px){
                line-height: 25px;
            }
        }
        .tarjetaNosotros__Punteo {
            list-style: inside;
            line-height: $interlineado-parrafo;
            font-size: $font-texto;
            @media(max-width:576px){
                list-style: disc;
                line-height: 30px;
            }
            li em{
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}









